# Environment variables
#.env
#.env.local
#.env.*.local

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Test results
TestResults/
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# Allure results
allure-results/
allure-report/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Playwright
.playwright/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

#Ohers
*.md

